* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: -0.05em;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.jumbotron h1 {
		font-size: 4rem;
		line-height: 1;
	}
}
