* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: -0.05em;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.jumbotron h1 {
		font-size: 4rem;
		line-height: 1;
	}
}

.t-card {
	margin: 20px;
}
.t-card-img {
	border-radius: 10px;
	width: 300px;
	height: 480px;
	box-shadow: 0px 0px 3px 1px #ccc;
}
.t-card-info {
	margin-top: 10px;
	min-height: 100px;
}

.t-card-title {
	font-size: 24px;
	margin: 0px;
}

.t-card-sub-title {
	font-size: 16px;
	margin: 0px;
}
